<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./styles/base.css" rel="stylesheet">
  <link href="./styles/main.css" rel="stylesheet">
</head>
<body>
  <div class="y-sticky">
    ${header}
    <main class="y-wrap">
      <h1>I am the landing page</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar consectetur facilisis. Quisque at magna quis est scelerisque mollis. Nulla lorem ligula, volutpat eu efficitur quis, imperdiet vitae ex. Vivamus venenatis neque in tristique facilisis. Pellentesque eu urna vitae orci malesuada bibendum. Duis sodales sapien ipsum, quis commodo lorem interdum hendrerit. Praesent in ante porttitor, pharetra libero tristique, pulvinar quam. Duis in ante neque. Aliquam bibendum viverra semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla ut elementum dolor. Morbi et semper nunc. Aliquam sed ligula vitae nisi porttitor tincidunt eget eu magna. Cras porta turpis nec ullamcorper sollicitudin. Nam rutrum ipsum eget cursus blandit.</p>
    </main>
    ${footer}
  </div>
</body>
</html>