.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.gallery__image {
  cursor: pointer;
  max-height: 260px;
  min-height: 260px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.gallery__image img {
  height: auto;
  width: 100%;
}

.gallery__image--shift-up img {
  margin-top: -172px;
}

.gallery__image--primary {
  margin: 1px auto;
}

.gallery__image--secondary {
  width: 80%;
}

.gallery__image--message {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
  }

  .gallery__image {
    margin: 0;
  }

  .gallery__set {
    display: flex;
    justify-content: space-between;
  }

  .gallery__set-container {
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
    justify-content: space-between;
    width: 40%;
  }

  .gallery__set:first-of-type {
    margin-bottom: 4px; /* related to interior spacing between the secondary images */
  }

  .gallery__set:last-of-type {
    margin-top: 4px; /* related to interior spacing between the secondary images */
  }

  .gallery__image--primary {
    flex: 1 1 auto;
    margin-right: 8px;
    max-height: 528px;
    width: 40%;
  }

  .gallery__image--secondary {
    width: 49%; /* at 49%, there is a natural gap in between two boxes that equals 8px */
  }

  .gallery__image img {
    height: auto;
    width: 100%;
  }

  .gallery__image--fill-vertical img {
    height: 100%;
    width: auto;
  }

  .gallery__image--shift-left img {
    margin-left: -100px;
  }

  .gallery__image--shift-up img {
    margin-top: 0;
  }
}
